.addcart{
    font-size: 7px;
    background-color: white;
    border:1px solid gray;
    margin-top: 5px;
    padding: 0px 8px;
    border-radius: 5px;
    padding-top: 10px;
}

.addcart img{
    max-width: 85%;
    margin:auto;
    border-radius: 5px;
    margin-bottom: 3px;
}
.addcart p span{
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.addcart button{
border: none;
background-color: white;
margin-bottom:3px;
}

.paragraf{
    margin-bottom:3px;
    text-transform: uppercase;
    font-size: 7px;
    text-align: center;
}
.carpi:hover{
    transition:all 1s ease-in-out ;
    cursor: pointer;
}
@media screen and (max-width:450px){
    .addcart img{
        max-width: 60%;
        margin:auto;
        border-radius: 5px;
        margin-bottom: 3px;
    }
}